@page "/about"

@inject NavigationManager NavigationManager

<h3>关于本应用</h3>
<p>PetPet生成器 <small>V 0.1.0</small></p>
<div class="card" id="developers">
    <div class="card-header"><span class="oi oi-list"></span> 开发人员</div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="oi oi-chevron-right"></span> 钾肥猫
                <span class="badge badge-info">
                    <a href="https://jiafeimiao.top/" target="_blank">Blog</a>
                </span>
            </li>
        </ul>
    </div>
</div>
<div class="card" id="conect">
    <div class="card-header"><span class="oi oi-list"></span> 联系作者</div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="mailto:xuzhengzheng@outlook.com" target="_blank">
                    <span class="oi oi-envelope-open"></span> Email
                </a>
            </li>
            <li class="list-group-item">
                <a href="https://github.com/JiaFeiMiao-K-Cat/PetpetGenerator/issues"
                   target="_blank">
                    <span class="oi oi-link-intact"></span> Github Issues
                </a>
            </li>
        </ul>
    </div>
</div>